@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

* {
  font-family: 'Space Mono', monospace;
}
.Dark {
  background-color: #141d2f;
}
.Light {
  background-color: #f6f8ff;
}
