@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.625rem;
  line-height: 38px;;
  font-weight: 700;
}

* {
  font-family: 'Space Mono', monospace;
}
